<br>

<hr>
<span style="cursor: pointer;" (click)="goto('googlestyle')">
  1 Google Style
</span>

<hr>
<span style="cursor: pointer;" (click)="goto('spinnerbutton')">
  2 Spinner Button
</span>

<hr>
<span style="cursor: pointer;" (click)="goto('filterdata')">
  3 Angular filter data with select menu
</span>
<hr>

<span style="cursor: pointer;" (click)="goto('ismobile')">
  4 Angular isMobile test
</span>
<hr>

<span style="cursor: pointer;" (click)="goto('responsivebuttongroup')">
  5 Angular Material responsive mat-button-toggle-group
</span>
<hr>

<span style="cursor: pointer;" (click)="goto('matcardtitlealignment')">
  6 Mat-card Title Alignment ( left & right )
</span>
<hr>

<span style="cursor: pointer;" (click)="goto('showgenericmatbutton')">
  7 Generic Mat-button with Icon
</span>
<hr>

<span style="cursor: pointer;" (click)="goto('animateddiv')">
  8 Animated Div
</span>
<hr>
<span style="cursor: pointer;" (click)="goto('dateinput')">
  9 Input Date Format
</span>
<hr>
<span style="cursor: pointer;" (click)="goto('numberinput')">
  10 Input Number Format
</span>
<hr>
<span style="cursor: pointer;" (click)="goto('chainedpipes')">
  11 Chained Pipes
</span>
<hr>
<span style="cursor: pointer;" (click)="goto('cacheddata')">
  12 Cached Data
</span>
<hr>
<span style="cursor: pointer;" (click)="goto('buttonfunction')">
  13 Button calls function
</span>
<hr>